@import 'styles/colors';

.tabs {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  color: white;
}

.tab {
  position: relative;
  width: 100%;

  &:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 12px;
    background: $middleGray;
  }
}

.tabActive {
  &:after {
    background: $red;
  }
}
