@import 'styles/colors';
@import 'styles/constants';

.main {
  width: 100%;
  max-width: 1980px;
  min-height: calc(100vh - 392px); //100vh - (header + ~footer)
  margin: 0 auto;

  @media screen and (max-width: $tab768) {
    max-width: unset;
    min-height: unset;
  }
}
