@import 'styles/colors';
@import 'styles/constants';

.settings {
  padding-bottom: 240px;

  @media screen and (max-width: $tab768) {
    padding-bottom: 48px;
  }
}

.title {
  font-size: 54px;
  margin-bottom: 48px;

  @media screen and (max-width: $tab768) {
    font-size: 28px;
  }
}

.subTitle {
  font-size: 28px;
  margin-bottom: 24px;

  @media screen and (max-width: $tab768) {
    font-size: 22px;
  }
}

.tabs {
  font-family: 'THICCCBOI-bold', sans-serif;
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 20px;
  color: $middleGray;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $middleGray;
    z-index: 1;
  }
}

.tab {
  position: relative;
  width: 202px;
  text-align: center;
  padding: 12px 24px;
  white-space: nowrap;
  transition: all .2s ease;
  cursor: pointer;

  @media screen and (max-width: $tab768) {
    width: calc(100% / 2);
    font-size: 16px;
  }
}

.tabActive {
  color: $red;
}

.activeLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 202px;
  height: 2px;
  background: $red;
  transition: all .2s ease;
  z-index: 5;

  @media screen and (max-width: $tab768) {
    width: calc(100% / 2);
  }
}

.activeLineMoved {
  transform: translateX(202px);

  @media screen and (max-width: $tab768) {
    transform: translateX(100%)
  }
}
