@import 'styles/colors';
@import 'styles/constants';

.container {
  margin-top: 84px;

  & h1 {
    margin-bottom: 32px;
    font-family: 'THICCCBOI-bold', sans-serif;
    font-size: 44px;
    line-height: 54px;

    @media screen and (max-width: $tab768) {
      font-size: 28px;
    }
  }

  @media screen and (max-width: $tab768) {
    margin-top: 60px;
  }
}

.lineList {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  background: $middleGray;
  border-radius: 12px;
  font-size: 24px;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $gray;
  }
}

.line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 116px;
  line-height: 116px;
  padding: 0 32px;
}

.lineNameTitle, .linePriceTitle {
  font-family: 'THICCCBOI-bold', sans-serif;
}

.linePriceTitle {
  padding-right: 31px;
}

.linePriceValue {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-right: 10px;
}

div.totalLine {
  font-family: 'THICCCBOI-bold', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  font-size: 28px;

  & img {
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: $tab768) {
    justify-content: flex-start;
    gap: 20px;
  }
}

.successLabel {
  display: inline-block;
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;

  @media screen and (max-width: $tab768) {
    white-space: pre-wrap;
  }
}

.visuallyHidden {
  opacity: 0
}

.noMargin {
  margin: 0;
}

.lineListCheckedOut {
  margin-bottom: 48px;
}
