@font-face {
  font-family: 'THICCCBOI';
  src: url('THICCCBOI-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'THICCCBOI-medium';
  src: url('THICCCBOI-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'THICCCBOI-bold';
  src: url('THICCCBOI-Bold.woff2');
  font-weight: 500;
  font-style: normal;
}
