@import 'styles/colors';

.formContainer {
  margin-top: 84px;
  margin-bottom: 48px;

  & h1 {
    margin-bottom: 32px;
    font-family: 'THICCCBOI-bold', sans-serif;
    font-size: 44px;
    line-height: 54px;
  }
}

.notice {
  display: block;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

.postscript {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: white;
}

a.postscript {
  color: $red;
}
