.input {
  position: absolute;
  width: 28px;
  height: 28px;
  opacity: 0;
  z-index: -1;
}

.label {
  display: block;
  width: 28px;
  height: 28px;

  & img {
    width: 100%;
    height: auto;
  }
}

.disable {
  pointer-events: none;
}
