@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.redirecting {
  width: 100%;
  min-height: calc(100vh - 362px);
  margin: 0 auto;
}

.loader {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;

  & img {
    animation: 2s linear loading infinite;
  }
}
