@import 'styles/colors';
@import 'styles/constants';

.footer {
  position: relative;
  height: 362px;
  width: 100%;
  padding: 60px 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    width: calc(100% + 120px);
    height: 1px;
    background: $middleGray;

    @media screen and (max-width: $tab768) {
      left: 0;
      width: 100%;
    }
  }

  @media screen and (max-width: $tab768) {
    height: auto;
    padding: 40px 0 0;
  }
}

.text {
  display: block;
  max-width: 280px;
  margin: 24px 0 60px 0;
  line-height: 30px;
  color: $lightGray;

  @media screen and (max-width: $tab768) {
    margin: 30px 0 40px 0;
    font-size: 18px;
  }
}

.bottomLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 44px;
  border-top: 1px solid $middleGray;

  @media screen and (max-width: $tab768) {
    padding-top: 32px;
    flex-direction: column;
  }
}

.copyright {
  font-size: 18px;
  color: $lightGray;

  & a {
    position: relative;
    top: -1px;
    color: white;

    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background: white;
    }
  }

  @media screen and (max-width: $tab768) {
    line-height: 30px;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;

  & img {
    width: 36px;
    height: 36px;
  }
}
