@import 'styles/colors';
@import 'styles/constants';

.subscriptions {
  display: flex;
  gap: 60px;
  flex-wrap: nowrap;
  margin-bottom: 24px;
  overflow-x: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  @media screen and (max-width: $tab768) {
    gap: 32px;
  }
}

.headerLine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;

  .responsiveUpgrade {
    display: none;
    align-self: center;
    font-size: 16px;
    color: $red;

    @media screen and (max-width: $tab768) {
      display: block;
    }
  }

  & button {
    @media screen and (max-width: $tab768) {
      display: none;
    }
  }
}

.title {
  font-size: 54px;

  @media screen and (max-width: $tab768) {
    font-size: 28px;
  }
}

.licenses {
  margin-bottom: 48px;
}

.noSelectDomains {
  margin-bottom: 120px;
}

.selectDomains {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 120px;

  & span {
    font-size: 20px;
  }

  @media screen and (max-width: $tab768) {
    flex-direction: column;
    gap: 16px;

    & span {
      font-size: 16px;
      color: $gray;
    }

    & button {
      width: 100%;
    }
  }
}
