@import 'styles/colors';
@import 'styles/constants';

.license {
  display: none;
  padding: 32px 20px 32px;
  margin-bottom: 24px;
  background: $darkGray;
  border-radius: 12px;

  @media screen and (max-width: $tab768) {
    display: flex;
    flex-direction: column;
  }

  & .firstCode {
    margin-bottom: 24px;
  }
}

.statusLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.statusValue {
  font-family: 'THICCCBOI-bold', sans-serif;
  line-height: 68px;
  font-size: 22px;
  text-transform: capitalize;
  color: $green;
}

.statusHold {
  color: $ginger;
}

.statusInactive {
  color: $lightRed;
}

.code {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  font-size: 16px;
}

.codeTitle {
  font-family: 'THICCCBOI-bold', sans-serif;
  color: $gray;
}

.codeValue {
  min-height: 68.5px;
  padding: 25px 30% 25px 25px;
  background: $middleGray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $gray;
  border-radius: 12px;
}

.copy {
  position: absolute;
  top: 50px;
  right: 25px;

  & img {
    width: 100%;
    height: auto;
  }
}
