@import 'styles/constants';

.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  & img {
    width: 42px;
    height: 42px;

    @media screen and (max-width: $tab768) {
      width: 32px !important;
      height: 32px !important;
    }
  }

  @media screen and (max-width: $tab768) {
    flex-wrap: nowrap;

    & span {
      white-space: nowrap;
    }
  }
}

.logoText {
  font-family: 'THICCCBOI-bold', sans-serif;
  text-transform: uppercase;
  font-size: 28px;

  @media screen and (max-width: $tab768) {
    font-size: 22px;
  }
}
