@import 'styles/colors';
@import 'styles/constants';

.card {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 404px;
  padding: 42px 48px;
  background: $darkGray;
  border-radius: 12px;
  transition: all .3s ease-in-out;
  cursor: default;

  @media screen and (max-width: $tab768) {
    max-width: 100%;
    padding: 32px 20px;
  }
}

.cardHover {
  background: $red;
  transform: translateY(-50px);

  @media screen and (max-width: $tab768) {
    transform: none;
  }

  & head {
    border-bottom: 1px solid white;
  }

  & .description {
      color: white;
    }

    & button {
      color: $red;
    }
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-bottom: 40px;
  margin-bottom: 38px;
  border-bottom: 1px solid $lightGray;
}

.price {
  font-family: 'THICCCBOI-bold', sans-serif;
  font-size: 54px;
  line-height: 66px;
  text-align: center;
}

.license {
  font-family: 'THICCCBOI-bold', sans-serif;
  font-size: 24px;
  line-height: 26px;
}

.description {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $lightGray;
}

.checkMarks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 32px;
}

.mark {
  display: flex;
  gap: 14px;
  align-items: center;

  & img {
    width: 26px !important;
    height: 26px !important;
  }
}

.buttonWrapper {
  width: 100%;
  text-align: center;
}
