@import 'styles/constants';

.container {
  width: 620px;
  max-width: 620px;
  min-height: 760px;
  margin: 0 auto;

  @media screen and (max-width: $tab768) {
    width: 100%;
    max-width: 100%;
    min-height: unset;
    padding-bottom: 40px;
  }
}
