@import 'styles/colors';
@import 'styles/constants';

.license {
  display: flex;
  flex-grow: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 79px 31px 32px;
  background: $darkGray;
  border-radius: 12px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  & button {
    padding: 0 24px;
  }

  & label {
    position: relative;
    top: 16px;
  }

  @media screen and (max-width: $tab768) {
    display: none;
  }
}

.code, .domain, .status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.checkbox {
  max-width: 28px;
  height: 28px;
  margin-right: 48px;
}

.code {
  position: relative;
  max-width: 296px;
  margin-right: 28px;

  & span {
    color: $gray;
    font-size: 16px;
  }

  & .codeValue {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 68px;
    width: 100%;
    line-height: 68px;
    padding: 0 30% 0 24px;
    background: $middleGray;
    border-radius: 6px;
  }
}

.copy {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 48px;
  left: 240px;
  opacity: .8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: .7;
  }

  & img {
    width: 100%;
    height: auto;
  }
}

.codeTitle, .domainTitle, .statusTitle {
  margin-bottom: 12px;
  font-family: 'THICCCBOI-bold', sans-serif;
  font-size: 16px;
}

.domain {
  min-width: 0;
  flex-grow: 1;
  margin-right: 56px;

  & span {
    color: $gray;
    font-size: 16px;
  }

  & .domainValue {
    display: flex;
    align-items: center;
    gap: 56px;
    justify-content: space-between;
  }

  & .domainText {
    display: inline-block;
    width: 100%;
    height: 68px;
    line-height: 68px;
    padding: 0 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: $middleGray;
    border-radius: 6px;
  }
}

.status {
  justify-self: flex-end;
  max-width: 81px;
}

.statusValue {
  font-family: 'THICCCBOI-bold', sans-serif;
  line-height: 68px;
  font-size: 22px;
  text-transform: capitalize;
  color: $green;
}

.statusHold {
  color: $ginger;
}

.statusInactive {
  color: $lightRed;
}

.domainWithButton {
  margin-right: -11px;
}
