@import 'styles/constants';

.form {
  max-width: 512px;
  min-width: 480px;

  & button {
    margin-top: 48px;
  }

  @media screen and (max-width: $tab768) {
    max-width: unset;
    min-width: unset;
    width: 100%;
  }
}
