@import 'styles/colors';

.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid white;
  border-radius: 12px;
  cursor: pointer;
}

.arrowImg {
  width: 18px;
  height: 17px;
}

.arrowPrev {
  transform: scale(-1, 1);
}

.counter {
  display: inline-block;
  margin: 0 12px;
  font-family: 'THICCCBOI-bold', sans-serif;
  font-size: 22px;
  line-height: 28px;

  & span {
    &:last-child {
      color: $middleGray;
    }
  }
}

.disable {
  opacity: .2;
  pointer-events: none;
}
