@import 'styles/colors';

.inputWrapper {
  position: relative;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 68px;
  padding: 25px;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-bottom: 24px;
}

.error {
  position: absolute;
  bottom: 5px;
  left: 0;
  font-size: 14px;
  color: $red;
}
