@import 'styles/colors';
@import 'styles/constants';

.preference {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 32px;
  font-size: 20px;
  line-height: 22px;
  color: white;

  @media screen and (max-width: $tab768) {
    display: none;
  }
}

.user {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-right: 24px;
}

.userMenuChevron {
  position: absolute;
  top: -3px;
  right: 0;
  width: 14px;
  height: 26px;
  transition: all .3s;

  & img {
    position: static;
    width: 14px;
    height: 7px;
  }
}

.userMenuChevronUp {
  transform: scale(1, -1);
}

.userMenu {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 48px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: max-content;
  height: max-content;
  max-height: 0;
  padding: 0 26px;
  background: $darkGray;
  border-radius: 12px;
  overflow: hidden;
  transition: all .3s ease;
  z-index: 10;
}

.userMenuUp {
  max-height: 200px;
  padding: 29px 26px;
}

.userMenuItem, .nestedMenuItem {
  display: flex;
  align-items: center;
  gap: 14px;

  & img {
    width: 19px;
    height: 19px;
  }
}

.nestedMenuItem {

  & img {
    opacity: .5;
  }
}

a.mySubscriptionsGray {
  color: $gray;
}

.cancelUpgrade {
  font-size: 16px;
  color: $red;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    transform: translateY(2px);
    color: white;
  }
}


//*** RESPONSIVE MENU

.cancelUpgradeMobile {
  display: none;
  font-size: 16px;
  color: $red;

  @media screen and (max-width: $tab768) {
    display: block;
  }
}

.documentDarkBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.73);
  pointer-events: none;
  z-index: 50;
}

.mobileMenu {
  width: calc((100% / 3) * 2);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 35px 24px;
  background: $darkGray;
  transition: all .7s ease;
  z-index: 100;
}

.mobileMenuUp {
  transform: translateX(100%);
  overflow: hidden;
}

.mobileMenuIcon {
  display: none;
  width: 24px;
  height: 24px;

  @media screen and (max-width: $tab768) {
    display: block;
  }
}

.mobileMenuHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  margin-bottom: 48px;
}

.mobileMenuClose {
  transition: all .3s;
}

.mobileMenuCloseUp {
  transform: scale(1, 0);
  overflow: hidden;
}

.mobileMenuLink {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
}

.nestedMenu {
  position: relative;
  border-bottom: 1px solid $middleGray;
  border-top: 1px solid $middleGray;
}

.nestedUserLine {
  position: relative;
  height: 64px;
}

.nestedUserName {
  display: inline-block;
  width: 100%;
  line-height: 64px;
  font-size: 16px;
  color: white;
}

.nestedMenuChevron {
  position: absolute;
  top: 22px;
  right: 0;
  transition: all .3s;
}

.nestedMenuChevronUp {
  transform: scale(1, -1);
}

.nestedMenuList {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-height: 0;
  padding-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  transition: all .3s ease;

  & span, a {
    color: $gray;
  }
}

.nestedMenuListUp {
  max-height: 200px;
  padding-top: 16px;
  margin-bottom: 22px;
}
