@import 'styles/colors';
@import 'styles/constants';

.cards {
  display: flex;
  justify-content: center;
  gap: 28.5px;
  max-width: 100%;
  margin-bottom: 33px;

  @media screen and (max-width: $tab768) {
    flex-direction: column;
    gap: 24px;
  }
}

.title {
  font-family: 'THICCCBOI-bold', sans-serif;
  font-size: 44px;
  text-align: center;
  margin-bottom: 100px;

  @media screen and (max-width: $tab768) {
    font-size: 28px;
  }
}

.postscript {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: white;
}

a.postscript {
  margin-bottom: 42px;
  color: $red;
  text-decoration: underline;
}

.error {
  width: 100%;
  text-align: center;
}

.errorTitle {
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 36px;
}

.errorText {
  color: $lightGray;
}

.errorLink {
  color: $red;
}
