@import 'styles/colors';
@import 'styles/constants';

.title {
  font-size: 54px;
  margin-bottom: 96px;

  @media screen and (max-width: $tab768) {
    font-size: 28px;
    margin-bottom: 72px;
  }
}

.info {
  display: flex;
  gap: 134px;
  width: max-content;
  font-size: 24px;
  background: $middleGray;
  padding: 48px;
  border-radius: 12px;
  margin-bottom: 48px;

  @media screen and (max-width: $tab768) {
    width: 100%;
    flex-direction: column;
    gap: 48px;
    padding: 32px 24px;
  }

  & button {
    width: 100% !important;
  }
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.infoBlock {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.caption {
  font-family: 'THICCCBOI-bold', sans-serif;
}


