@import 'styles/colors';
@import 'styles/constants';

.sub {
  width: 620px;
  flex-shrink: 0;
  padding: 48px 32px;
  background: $darkGray;
  border-radius: 12px;
  opacity: .3;
  transition: all .3s ease;

  &:hover {
    opacity: 1;
  }

  @media screen and (max-width: $tab768){
    width: 100%;
    max-width: 100%;
  }

  .viewButtons {
    & button:first-child {
      display: block;
    }

    & button:last-child {
      display: none;
    }

    @media screen and (max-width: $tab768){
      & button:first-child {
        display: none;
      }

      & button:last-child {
        display: block;
      }
    }
  }
}

.activeSub {
  opacity: 1;
}

.subHead {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  &:after {
    content: '';
    position: absolute;
    bottom: -32px;
    left: -32px;
    width: calc(100% + 64px);
    height: 1px;
    background: $gray;
  }

  & span {
    font-family: 'THICCCBOI-bold', sans-serif;
    font-size: 22px;
  }
}

.subStatus {
  text-transform: capitalize;
}

.subStatusActive {
  color: $green;
}

.subStatusHold {
  color: $ginger;
}

.license {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
  margin-bottom: 32px;
  font-size: 24px;
}

.licenseInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
}

.licenseValid {
  font-size: 16px;
  color: $gray;
}

.hollow {
  opacity: 0;
  pointer-events: none;
}
