@import 'styles/colors';

.noSubs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10% auto;
  color: white;

  & button {
    font-size: 16px;
  }
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  margin-bottom: 24px;
  background: $middleGray;
  border-radius: 50%;

  & img {
    width: 24px;
    height: 24px;
  }
}

.title {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 8px;
}

.text {
  display: inline-block;
  max-width: 310px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
