@import "styles/colors";

.button {
  font-family: 'THICCCBOI-bold', sans-serif;
  width: max-content;
  height: 72px;
  padding: 0 24px;
  line-height: 72px;
  text-align: center;
  font-size: 18px;
  background: white;
  color: $background;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.buttonFull {
  width: 100%;
}

.buttonLong {
  width: max-content;
  min-width: 308px;
}

.buttonMedium {
  width: max-content;
  min-width: 228px;
}

.buttonShort {
  width: max-content;
  min-width: 120px;
  height: 58px;
  line-height: 58px;
}

.themeRed {
  color: white;
  background: $red;
}

.themeWhite {
  color: $red;
  background: white;
}

.themeDisable {
  color: $crimson;
  background: $gray;
  pointer-events: none;
}
