$background: #181818;
$middleGray: #393939; //$footerLine
$gray: #969696; //$grayLine
$lightGray: #C7C7C7; //$grayText
$darkGray: #272727; //$cardBg
$red: #FC5842; //$cardActiveBg
$lightRed: #FF5A65; //$statusInActive
$crimson: #882b2b; //$buttonTextDisable
$green: #05C168; //$subscriptions status
$ginger: #FF9E2C; //$subscriptions status
