@import '../assets/fonts';
@import 'colors';
@import 'constants';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'THICCCBOI', sans-serif;
  background: $background;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p, span {
  padding: 0;
  margin: 0;
  color: white;
}

h1, h2, h3, h4 {
  font-family: 'THICCCBOI-bold', sans-serif;
}
