@import 'styles/colors';

.outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 96px;
  background: rgba(24, 24, 24, 0.87);
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 96px 24px 24px;
  border-radius: 12px;
  overflow-y: scroll;
  background: $middleGray;
  z-index: 99;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 100;

  & img {
    width: 100%;
    height: auto;
  }
}
